.image {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.audio {
  height: 24px;
  max-width: 160px;
}

.placeholder {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: var(--color-border);
}

.imageLarge {
  width: 128px;
  height: 128px;
}

.placeholderLarge {
  width: 128px;
  height: 128px;
}
